@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PostViewModel
@{
    ViewData["Title"] = "Create Post";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .content-wrapper {
        padding: 20px;
        max-width: 1000px;
        margin: 0 auto;
        font-family: sans-serif;
    }
</style>
<div class="content-wrapper">
    <div class="row">

        <div class="col-6">

            <h2>@ViewData["Title"]</h2>

        </div>

        <div class="col-6 text-end">

            <a class="btn btn-primary" asp-action="Index" asp-controller="Post">Back to List</a>

        </div>

    </div>

    <hr />

    <form asp-action="Create" asp-controller="Post" method="post" enctype="multipart/form-data">

        <div class="validation-summary">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        <div class="form-group">
            <label asp-for="Post.Title"></label>
            <input asp-for="Post.Title" class="form-control" />
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Post.Category"></label>
            <select asp-for="Post.CategoryId" class="form-control" asp-items="Model.Categories"><option value="">Select Category</option></select>
            <span asp-validation-for="Post.CategoryId"></span>
        </div>

        <div class="form-group">
            <label asp-for="Post.Author"></label>
            <input asp-for="Post.Author" class="form-control" />
            <span asp-validation-for="Post.Author"></span>
        </div>

        <div class="form-group">
            <label asp-for="Post.Content"></label>
            <textarea asp-for="Post.Content" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Post.Content"></span>
        </div>


        <div class="form-group">
            <label asp-for="FeatureImage"></label>
            <input asp-for="FeatureImage" type="file" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary mt-1">Create</button>
        <a class="btn btn-secondary mt-1">Back To List</a>
    </form>
</div>

@section scripts {
    <script src="https://cdn.tiny.cloud/1/kqqwa6ifzztxratd1k9k3bqtap9t22gp1jpzyrbpclgo811o/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
          selector: 'textarea',
        //   plugins: [
        //     'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists',
        //     'media', 'searchreplace', 'table', 'visualblocks', 'wordcount', 'checklist', 'mediaembed',
        //     'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker',
        //     'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai',
        //     'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect',
        //     'typography', 'inlinecss', 'markdown', 'importword', 'exportword', 'exportpdf'
        //   ],
        //   toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat'
       });
    </script>

}